[submodule "submodule/phaser-ce"]
	path = submodule/phaser-ce
	url = https://github.com/photonstorm/phaser-ce.git
[submodule "submodule/object-hash"]
	path = submodule/object-hash
	url = https://github.com/puleos/object-hash.git
[submodule "submodule/texgen.js"]
	path = submodule/texgen.js
	url = https://github.com/mrdoob/texgen.js.git